
<div class="center">
    <h1> Welcome to <%= @user.username %></h1>

    <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
            <%= gravtar_for( @user, size: 150)%>
        </div>
    </div>
</div>

<div class="center">
    <%= will_paginate @articles%>
</div>
<div class="container">
    <%= render '/articles/article', obj: @articles%>
</div>
<div class="center">
    <%= will_paginate @articles%>
</div>
